<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%include 'bootstrap.html'%}
    <style>
        button{
            padding: 10px;
            padding-left: 70px;
            padding-right: 70px;
            color:white;
            background-color: brown;
            margin-top: 20px;
            border-radius: 5px;

        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <p>Start your Journey now with us</p>
        <input type="text" value="" name="company" placeholder="Enter your phone number" size="50" style="border: 1px solid black; border-radius: 5px; padding:10px"/>
        <div class="text-center">
            <button>Submit</button>
        </div>
        <p>Don't have an account? <a href="link">Register Now</a></p>
    </div>
</body>
</html>