{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'bootstrap.html' %}
    <title>Document</title>
</head>
<body>
    <h1 class="text-center mt-3">Gallery Images</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'images/img1.jpg' %}" alt="image not found" class="img-fluid img-thumbnail" style="height: 100%; width: 100%;">
            </div> 
            <div class="col-md-4">
                <img src="{% static 'images/img2.jpg' %}" alt="image not found " class="img-fluid img-thumbnail" style="height: 100%; width: 100%;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/img3.jpg' %}" alt="image not found" class="img-fluid img-thumbnail" style="height: 100%; width: 100%;">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <img src="{% static 'images/img4.webp' %}" alt="image not found" class="img-fluid img-thumbnail" style="height: 100%; width: 100%;">
            </div> 
            <div class="col-md-4">
                <img src="{% static 'images/img5.webp' %}" alt="image not found" class="img-fluid img-thumbnail" style="height: 100%; width: 100%;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/img6.jpg' %}" alt="image not found" class="img-fluid img-thumbnail" style="height: 100%; width: 100%;">
            </div>
        </div>

    </div>
</body>
</html>